<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web-Socket-Test</title>

        <script type="text/javascript">
          var ws = new WebSocket("ws://localhost:9000/socket");

          ws.onopen = function() {
              console.log("web socket open");
          };

          ws.onerror = function(error) {
              console.log("web socket error", error);
          };

          ws.onclose = function() {
              console.log("web socket close");
          };

          ws.onmessage = function(event) {
              var outputField = document.getElementById("outputField");
              outputField.innerHTML = event.data;
          };

          function onButtonClick() {
              var inputField = document.getElementById("inputField");
              ws.send(inputField.value);
              inputField.value = "";
          }

    </script>

    </head>
    <body>
        <h1>Websocket Test</h1>
        <input id="inputField">
        <input type="button" value="send" onclick="onButtonClick()">
        <div id="outputField"/>
    </body>
</html>